* {
  margin: 0;
  padding: 0;
  font-size: 12;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

:root {
  --primary-color: rgb(162, 49, 190);
  --primary-HO-color: rgba(170, 28, 206, 0.8);
  --secondary-color: rgb(255, 205, 243);
  --secondary-HO-color: rgba(255, 205, 243, 0.8);
  --third-color: rgb(255, 255, 255);
  --third-HO-color: rgba(255, 255, 255, 0.7);
  --hover-color: rgb(251, 166, 255);
  --hover-text-color: rgb(215, 79, 249);
  --hover-text-shadow-color: rgb(154, 52, 179);
  --bg-for-widgets: rgba(198, 117, 255, 0.402);
  --bg-circle-border-color: rgb(252, 177, 229);
  --header-link-drop-shadow-color: rgb(208, 164, 231);
  --main-bg-1: rgb(255, 222, 240);
  --main-bg-2: rgb(255, 160, 233);
  --main-bg-2-0: rgba(255, 160, 233, 0);
  --new-answer-bg: rgb(189, 148, 200);
  --new-answer-HO-bg: rgba(189, 148, 200, 0.8);
  --header-nav-item-dropshadow-text: rgb(255, 0, 212);
  --fz1: 30px;
  --fz-lh: 2.5vmin;
  --phone-container-width: 90vw;
  --display-bg-width: calc((var(--phone-container-width) * 0.9) - 50vh * 0.9);
  --profile-item-margin: 20px;
}

body {
  color: var(--primary-color);
  letter-spacing: 2px;
  font-family: "Jost", sans-serif;
  position: relative;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 300px;
  overflow: hidden;
}

#root {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.aria-heading {
  position: fixed;
  z-index: 1;
  top: -300px;
  left: -300px;
}

.test {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 5%;
  height: 50px;
  font-size: 20px;
}

.test-2 {
  top: 0;
  left: 95%;
}

.test:hover {
  background-color: grey;
}

a span {
  color: var(--primary-color);
  filter: drop-shadow(0 0 1px var(--header-link-drop-shadow-color));
}

/* BACKGROUND */

.bg-wrapper {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: -2;
  width: 200vmax;
  height: 200vmax;
  background: linear-gradient(180deg, var(--main-bg-1), var(--main-bg-2));
  transform-origin: center;
  animation: bg-rotate 10s linear infinite;
}

.bg-1 {
  position: absolute;
  top: 10vh;
  left: 30vw;
  z-index: -2;
  width: 70vw;
  height: 70vh;
  transform-origin: center;
  animation: bg-rotate 40s linear infinite;
}

.bg-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100px;
  height: 100px;
  border: 3px solid var(--bg-circle-border-color);
  border-radius: 50%;
  filter: drop-shadow(0 0 3px var(--third-color));
}

.bg-c-1 {
  width: 200px;
  height: 200px;
  transform: translateX(-30vmin);
  animation: bg-circle-loop-1 30s linear infinite;
}

.bg-c-2 {
  width: 50px;
  height: 50px;
  transform: translateX(40vmin) translateY(20vmin);
  animation: bg-circle-loop-2 25s linear infinite;
}

.bg-c-3 {
  width: 150px;
  height: 150px;
  transform: translateX(10vmin) translateY(-15vmin);
  animation: bg-circle-loop-3 27s linear infinite;
}

.bg-c-4 {
  width: 250px;
  height: 250px;
  transform: translateY(200px);
  animation: bg-circle-loop-4 32s linear infinite;
}

.bg-c-5 {
  transform: translateY(-200px) translateX(-200px);
  animation: bg-circle-loop-5 35s linear infinite;
}

@keyframes bg-rotate {
  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes bg-circle-loop-1 {
  0%,
  100% {
    transform: scale(100%) translateX(-30vmin);
  }
  50% {
    transform: scale(0%) translateX(-30vmin);
  }
}
@keyframes bg-circle-loop-2 {
  0%,
  100% {
    transform: scale(0%) translateX(40vmin) translateY(20vmin);
  }
  50% {
    transform: scale(100%) translateX(40vmin) translateY(20vmin);
  }
}
@keyframes bg-circle-loop-3 {
  0%,
  100% {
    transform: scale(100%) translateX(10vmin) translateY(-15vmin);
  }
  50% {
    transform: scale(0%) translateX(10vmin) translateY(-15vmin);
  }
}
@keyframes bg-circle-loop-4 {
  0%,
  100% {
    transform: scale(0%) translateY(200px);
  }
  50% {
    transform: scale(100%) translateY(200px);
  }
}
@keyframes bg-circle-loop-5 {
  0%,
  100% {
    transform: scale(0%) translateY(-200px) translateX(-200px);
  }
  50% {
    transform: scale(100%) translateY(-200px) translateX(-200px);
  }
}

@keyframes paw-move-up {
  0%,
  50% {
    opacity: 0;
  }
  51%,
  100% {
    opacity: 1;
  }
}

@keyframes paw-move-down {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

/* @keyframes paw-left-bg {
  0%,
  50% {
    fill: none;
  }
  51%,
  100% {
    fill: block;
  }
} */

/* @keyframes paw-right-bg {
  0%,
  50% {
    display: none;
  }
  51%,
  100% {
    display: block;
  }
} */

/* APP */

/* HEADER */

header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 15vmin;
  transition: transform 0.8s;
}

.header__out {
  transform: translateY(-15vmin);
}

/* NARROW HEADER */

nav.narrow-nav {
  display: none;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.header-btn {
  position: relative;
  z-index: 1;
  font-family: "Jost", sans-serif;
  width: 100%;
  background: none;
  background-color: var(--third-color);
  outline: none;
  border: 8px solid var(--primary-color);
  border-top: none;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
  transition: color 1s, text-shadow 1s, border-color 1s, box-shadow 1s;
}

/* WIDE HEADER */

nav.wide-nav {
  height: 100%;
  width: 100vmin;
  display: flex;
  margin: 0 auto;
  transform: translateX(4.5vmin);
}

.wide-nav__link {
  position: relative;
  width: 20vmin;
  height: 20vmin;
  transition: z-index 0s, transform 1s ease-out;
}

.wide-nav__link button span {
  letter-spacing: 1px;
}

.wide-nav__inner-linkwrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 20vmin;
  height: 20vmin;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: filter 1s, color 1s;
}

/* NAVITEMS PER ITEM */

.wide-nav__link:nth-child(1) {
  transform: translateY(-50%) translateX(-1vmin);
  z-index: 1;
}

.wide-nav__link:nth-child(2) {
  z-index: 2;
  transform: translateY(-40%) translateX(-3vmin);
}

.wide-nav__link:nth-child(3) {
  z-index: 3;
  transform: translateY(-30%) translateX(-5vmin);
}

.wide-nav__link:nth-child(4) {
  transform: translateY(-40%) translateX(-7vmin);
  z-index: 2;
}

.wide-nav__link:nth-child(5) {
  transform: translateY(-50%) translateX(-9vmin);
  z-index: 1;
}

.wide-nav__inner-linkwrapper button {
  text-wrap: nowrap;
  color: var(--primary-color);
  letter-spacing: 2px;
  position: relative;
  display: block;
  width: 18vmin;
  height: 18vmin;
  margin: 1vmin;
  border: 5px solid var(--third-color);
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: background-color 0.5s;
  color: var(--third-color);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

button span {
  font-family: "Jost", sans-serif;
  color: var(--primary-color);
  font-weight: bold;
}

.wide-nav__link-text {
  position: absolute;
  top: calc(50% - 1rem);
  left: 50%;
  display: block;
  transform: translateX(-50%);
  font-size: var(--fz-lh);
  transition: transform 1s;
  font-weight: bold;
}

.wide-nav__link-text--side {
  transform: translateX(-50%) translateY(calc(200px / 20));
  top: calc(50% - 0.1rem);
}

.wide-nav__link-text--inter {
  transform: translateX(-50%);
  top: calc(50% - 0.2rem);
}

.wide-nav__link-text--center {
  transform: translateX(-50%);
  top: calc(50% - 0.5rem);
}
/* APP SECTION */

.app-section {
  position: relative;
  height: 50vh;
  width: 100%;
  max-width: 1600px;
  display: flex;
  transition: transform 2s;
  transition-delay: 2.4s;
  font-size: var(--fz1);
  transition: transform 0.8s 0.3s;
}

.widget__out {
  transform: translateX(100vw);
}

/* MAIN */

main {
  position: relative;
  z-index: 1;
}

.container {
  width: var(--phone-container-width);
  margin: 0 auto;
  max-width: 1600px;
}

.dialogue-window {
  position: relative;
  z-index: 3;
  width: 98%;
  margin: 0 auto;
  padding-top: 1.5vmin;
  height: calc(100vh - 15vmin - 50vh);
  overflow-y: auto;
  box-shadow: -1px -1px 20px var(--primary-color);
  padding: 10px;
  border-radius: 30px;
  font-weight: 500;
  font-size: var(--fz1);
  transition: transform 0.8s 0.15s;
  transition-delay: 0.15s;
}

.scroll-prevent-btn {
  position: absolute;
  z-index: 4;
  right: 20px;
  top: 2px;
  width: 8vw;
  max-width: 112px;
  min-width: 50px;
  height: 8vw;
  max-height: 112px;
  min-height: 50px;
  margin: 0.5vmin;
  outline: none;
  border: none;
  box-shadow: 0 0 12px var(--bg-circle-border-color);
  border-radius: 50%;
  background-color: rgba(255, 64, 64, 0.068);
  transition: background-color 0.2s, transform 0.8s 0.15s;
  cursor: pointer;
}

.banner {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  width: 80vw;
  max-width: 1200px;
  height: auto;
  font-size: var(--fz1);
  background-color: var(--secondary-color);
  padding: 5px;
  opacity: 1;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  animation: pop-banner 6s linear infinite;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.8s 0.15s;
}

.dialogue__out {
  transform: translateX(-100vw);
}

.banner__out {
  transform: translateX(-150vw);
}

.header__out,
.widget__out,
.dialogue__out,
.banner__out {
  animation: invisibility 1s 1.5s forwards;
}

@keyframes invisibility {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes pop-banner {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}

.messanger {
  padding: 0px 5px;
  height: auto;
}

.sms-wrapper {
  display: flex;
}

.sms-wrapper:nth-child(1) {
  justify-content: end;
}

.sms {
  margin-bottom: 2vmin;
  padding: 10px 20px;
  width: 90%;
  background-color: var(--third-HO-color);
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  transition: box-shadow 0.25s, outline 0.25s;
}

.left-current-sms {
  opacity: 0;
}

.current-sms {
  animation: pop-up-sms 0.3s cubic-bezier(0, 0.87, 0.45, 0.74);
}

@keyframes pop-up-sms {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

.right-sms {
  margin-left: 10%;
  background-color: var(--primary-HO-color);
  color: var(--third-color);
}

.left-sms {
  margin-right: 10%;
  animation-fill-mode: forwards;
}

.choose-answer {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.answer {
  display: block;
  color: var(--third-color);
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  width: 30%;
  background-color: var(--new-answer-HO-bg);
  transition: all 0.25s;
  outline: none;
  animation: pop-up-sms 0.3s cubic-bezier(0, 0.87, 0.45, 0.74);
  font-size: var(--fz1);
  cursor: pointer;
}

.answer__down-padding {
  padding-bottom: 50px;
}

.answer-input {
  position: absolute;
  width: 25%;
  top: calc(100% - 50px);
  left: 72.5%;
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: 800;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  outline: none;
}

/* SIDES */

/* LEFT */

.cat {
  position: relative;
  z-index: 1px;
  width: calc(50vh * 0.9);
  max-width: 50%;
  height: 100%;
}

/* MAIN CIRCLE */

.cat-circle {
  width: 100%;
  max-width: calc((50vh) * 0.9 * 0.5);
}

.cat-circle.dark {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}

.opened-mouse {
  animation: opened-mouse-anime 0.5s linear infinite;
}

.closed-mouse {
  animation: closed-mouse-anime 0.5s linear infinite;
}

@keyframes opened-mouse-anime {
  0%,
  50% {
    opacity: 0;
  }
  51%,
  100% {
    opacity: 1;
  }
}

@keyframes closed-mouse-anime {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.cat-circle.dark.rotate-elements {
  animation: dark-cat-rotate 15s linear infinite;
}

@keyframes dark-cat-rotate {
  0%,
  75%,
  100% {
    transform: rotateZ(0deg);
  }
  33.3% {
    transform: rotateZ(-20deg);
  }

  66.6% {
    transform: rotateZ(5deg);
  }
}

.star {
  animation: star-shine 6s linear infinite;
}

@keyframes star-shine {
  0%,
  50%,
  60%,
  80%,
  100% {
    filter: drop-shadow(2px 2px 10px white);
  }
  25%,
  70% {
    filter: drop-shadow(2px 2px 5px white);
  }
}

.wide-v-cat {
  display: block;
}

.left-paw.up-paw,
.right-paw.down-paw {
  animation: paw-move-up 0.5s infinite;
}

.right-paw.up-paw,
.left-paw.down-paw {
  animation: paw-move-down 0.5s infinite;
}

/* RIGHT */

.right {
  width: 100%;
  height: 100%;
}

/* PHONE SECTION */

.phone-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transform-style: preserve-3d;
  perspective: 900px;
}

.phone {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 90%;
  height: 90%;
  background-color: var(--bg-for-widgets);
  border-radius: 50px;
  box-shadow: 5px 5px 20px var(--primary-color);
  transform-style: preserve-3d;
  perspective: 500px;
  overflow: hidden;
  display: flex;
}

.display-bg {
  width: var(--display-bg-width);
  min-width: 50%;
  height: 100%;
}

.menu {
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "a a b b c c"
    "d d d e e e";
}

.menu-item {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: var(--fz1);
  transition: opacity 0.3s;
  animation: pop-up-one-appear 0.3s ease-in forwards;
}

.menu-item__inner {
  width: 90%;
  height: 85%;
  margin: 2.5%;
  display: flex;
  margin: auto;
}

.menu-item__inner__text {
  margin: auto;
}

.menu-item:nth-child(1) {
  grid-area: a;
}

.menu-item:nth-child(2) {
  grid-area: b;
}

.menu-item:nth-child(3) {
  grid-area: c;
}

.menu-item:nth-child(4) {
  grid-area: d;
}

.menu-item:nth-child(5) {
  grid-area: e;
}

.display-bg-bubble {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-HO-color);
  transition: transform 1s, outline 1s, opacity 0.3s;
  animation: pop-up-one-appear 0.3s ease-in forwards;
}

.dbb__1 {
  top: 16%;
  left: 81%;
  width: 7vmin;
  height: 7vmin;
}

.dbb__2 {
  top: 79%;
  left: 10%;
  width: 7vmin;
  height: 7vmin;
}

.dbb__3 {
  top: -3%;
  left: 46.5%;
  width: 20vmin;
  height: 20vmin;
}

.dbb__4 {
  top: 50%;
  left: 40%;
  width: 12vmin;
  height: 12vmin;
}

.dbb__5 {
  top: 37%;
  left: 75%;
  width: 18vmin;
  height: 18vmin;
}

.dbb__6 {
  top: 73%;
  left: 57%;
  width: 18vmin;
  height: 18vmin;
}

.display-bg-micro-bubble {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background-color: var(--primary-HO-color);
  transition: all 1s;
  opacity: 0;
}

.settings-bar {
  position: relative;
  z-index: 4;
  width: 60%;
  height: 50px;
  background-color: var(--secondary-color);
  margin-left: 40%;
  border-bottom-left-radius: 10px;
}

.sett {
  display: flex;
  flex-wrap: wrap;
  transition: opacity 0.3s;
}

.btn-display {
  position: relative;
  z-index: 5;
  color: var(--third-color);
  font-family: "Jost", sans-serif;
  font-size: var(--fz1);
  font-weight: 500;
  padding: 5px;
  border: 2px solid var(--secondary-color);
  border-radius: 40px;
  background-color: var(--primary-HO-color);
  transition: background-color 0.2s, border-color 0.2s, opacity 0.3s;
  overflow: hidden;
  cursor: pointer;
}

.btn-display:before {
  content: "";
  position: absolute;
  z-index: -5;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: url("./widgets/widget/assets/Paw.png");
  background-size: 50px 50px;
  background-color: rgb(255, 61, 61);
  opacity: 0;
  animation: before-swim 10s cubic-bezier(0.09, 0.23, 0.76, 0.98) infinite;
  transition: opacity 1.2s;
}

.sett-btn {
  position: relative;
  z-index: 3;
  display: block;
  width: 45%;
  height: calc(50vh * 0.9 / 2 * 0.8);

  margin: 1.25%;
  animation: pop-up-one-appear 0.3s ease-in forwards;
}

/* PROFILE */

.profile {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    var(--main-bg-1) 0%,
    var(--main-bg-2-0) 100%
  );
  transform-origin: top left;
  transform: translate(-200%, 0);
  transition: transform 1s cubic-bezier(0, 0.35, 0.73, 1.04);
}
.profile__container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "a b" "a b"
    "d c"
    "e e" "f f";
}
.profile__img:nth-child(1) {
  grid-area: a;
}
.profile__img:nth-child(2) {
  grid-area: b;
}
.profile__info-item:nth-child(1) {
  grid-area: c;
}
.profile__info-item:nth-child(2) {
  grid-area: d;
}
.profile__loyalty {
  grid-area: e;
}
.profile__back-btn {
  grid-area: f;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.profile__item {
  display: flex;
  background-color: var(--secondary-color);
  border: 5px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
  margin: var(--profile-item-margin);
  color: var(--primary-color);
  font-size: calc(var(--fz1) * 1.5);
  font-size: 500;
  font-family: "Jost", sans-serif;
}

.profile__item__inner {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.profile-avatar__1 {
  fill: var(--primary-color);
}
.profile__img {
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}
.profile-img__text {
  font-size: var(--fz1);
  position: absolute;
  z-index: 11;
  top: calc(100% - (var(--fz1) * 1.4));
  left: 10%;
  width: 80%;
  height: var(--fz1) * 2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  color: var(--third-color);
  background-color: var(--primary-HO-color);
}
.profile__img__pic {
  border-radius: 20px;
  margin: auto;
  height: 100%;
  max-height: calc(100vw / 2 - var(--profile-item-margin) * 2);
  width: calc(100vh / 5 * 2 - var(--profile-item-margin) * 2);
  max-width: calc();
}

.profile-tip {
  position: absolute;
  z-index: 12;
  top: 5%;
  left: 5%;
  width: 40%;
  padding: 5px;
  height: auto;
  text-align: center;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--third-color);
  animation: pop-banner 6s linear infinite;
  cursor: pointer;
}

.about-section {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s 1s, transform 0.3s;
  transform: translateY(100vh);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.about-section__in {
  transform: translateY(0);
  opacity: 1;
}

.about-block {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  transition: height 1s;
  margin-bottom: 20px;
}
.about-block__header {
  min-height: 100px;
  display: flex;
  background-color: var(--third-HO-color);
  border-radius: 5px;
}

.about-block__header__inner {
  margin: auto;
  font-size: calc(var(--fz1) * 1.5);
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  display: block;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 10px;
}

.about-block__btn {
  font-size: calc(var(--fz1) * 1.5);
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: var(--secondary-color);
  display: block;
  height: 75px;
  padding: 0 20px;
  margin: 20px auto;
  outline: none;
  border: 3px solid var(--secondary-color);
  border-radius: 20px;
  cursor: pointer;
}

.about-block__info {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}
.about-block__info__inner {
  overflow: hidden;
}

.about-block__info__visible {
  grid-template-rows: 1fr;
}

.paragraph {
  width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: var(--fz1);
  font-weight: 500;
  background-color: var(--secondary-HO-color);
  color: var(--primary-color);
}

/* LIFE */
.life-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.life-block {
  display: flex;
  text-align: center;
  flex-shrink: 0;
  width: 30%;
  margin-bottom: 20px;
}

.life-block__inner {
  margin: auto;
  padding: 10px 20px;
  background-color: var(--secondary-HO-color);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.life-block__inner__inactive {
  background-color: var(--primary-HO-color);
  color: var(--secondary-color);
}

.profile__img__loading {
  position: relative;
}

.profile__img__loading::after {
  content: "Загрузка...";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-error {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

/* PROGRESS ALERT  */
.progress-alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  font-size: var(--fz1);
}
.progress-alert__inner {
  margin: auto;
}

.progress-alert__inner p {
  text-align: center;
}

.progress-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.progress-button {
  width: 30%;
  height: 75px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--third-color);
  border: 3px solid var(--secondary-color);
  outline: none;
  font-family: "Jost", sans-serif;
  font-size: var(--fz1);
  font-weight: 500;
  color: var(--secondary-color);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
/* MEDIAQUERIES */

@media (min-aspect-ratio: 3/5) {
  .cat {
    height: 100%;
  }
  .cat-circle {
    width: 100%;
    max-width: calc((50vh) * 0.9);
  }
}

@media (max-aspect-ratio: 3/5) {
  .cat {
    height: 50%;
  }

  .phone {
    flex-direction: column;
  }

  .display-bg {
    height: 50%;
    width: 100%;
  }
}

@media (max-aspect-ratio: 2/3) {
  .messanger {
    padding: 3px 2%;
  }

  .answer {
    padding: 10px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 992px), (min-aspect-ratio: 2/1) {
  :root {
    --phone-container-width: 97vw;
  }

  nav.narrow-nav {
    display: block;
    width: 300px;
  }

  .header-decor {
    position: absolute;
    z-index: 0;
    top: 0;
    width: calc((100vw - 300px) / 2);
    padding: 10px;
  }

  .header-decor:nth-child(1) {
    left: calc(-1 * ((100vw - 290px) / 2));
  }

  .header-decor:nth-child(2) {
    right: calc(-1 * ((100vw - 290px) / 2));
  }

  .decor-line {
    width: 100%;
    height: 14px;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: box-shadow 1s, background-color 1s;
  }

  .decor-line:nth-child(1) {
    margin-bottom: 10px;
  }

  nav.wide-nav {
    display: none;
  }

  .header-btn {
    height: 60px;
    width: 300px;
  }

  header {
    height: auto;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .dialogue-window {
    height: calc(100vh - 60px - 50vh);
    padding: 5px;
  }
  .scroll-prevent-btn {
    right: 25px;
  }
  .about-block {
    width: 95%;
  }
  .paragraph {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  .decor-line {
    background: none;
  }
}

@media screen and (max-width: 768px) {
  .app-section {
    height: 50vh;
  }

  .choose-answer {
    display: block;
  }

  .answer {
    width: 100%;
  }
  .answer-input {
    top: calc(100% - 37px);
    width: 90%;
    height: 30px;
    left: 5%;
  }
  .life-block {
    width: 80%;
    margin: 0 auto 10px;
  }
  .life-block__inner {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .scroll-prevent-btn {
    right: 13px;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --phone-container-width: 1600px;
  }
  .scroll-prevent-btn {
    right: calc((100vw - 1575px) / 2);
  }
  .messanger {
    padding: 10px 20px;
  }
}

@media (min-aspect-ratio: 3 / 1.618) {
  .dbb__1 {
    top: 10%;
    left: 90%;
  }

  .dbb__2 {
    top: 79%;
    left: 30%;
  }

  .dbb__3 {
    top: -3%;
    left: 65%;
  }

  .dbb__4 {
    top: 43%;
    left: 45%;
  }

  .dbb__5 {
    top: 37%;
    left: 85%;
  }

  .dbb__6 {
    top: 65%;
    left: 60%;
  }
}

@media (max-aspect-ratio: 1.2/1) and (min-aspect-ratio: 3/5.01) {
  .menu {
    grid-template-areas: "a" "b" "c" "d" "e";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .menu-item {
    height: 80%;
    margin: 2% auto;
    width: 80%;
  }
  .sett {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .sett-btn {
    height: calc(50vh * 0.9 * 0.25 * 0.9);
    width: 90%;
    margin: 1% auto;
  }
  :root {
    --profile-item-margin: 15px;
  }
}

@media (max-aspect-ratio: 3/5) {
  /* .menu {
    grid-template-areas: "a a b b c c" "d d d e e e";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  } */
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: calc(var(--phone-container-width) * 0.9 / 2);
    margin: 0 auto;
  }
  .menu-item:nth-child(3),
  .menu-item:nth-child(4),
  .menu-item:nth-child(5) {
    height: calc((50vh * 0.9 - (var(--phone-container-width) * 0.9 / 2)) / 2);
  }
  .menu-item:nth-child(3) {
    position: absolute;
    top: 100%;
    left: -100%;
  }
  .menu-item:nth-child(4) {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .menu-item:nth-child(5) {
    position: absolute;
    top: calc(
      100% + ((50vh * 0.9 - (var(--phone-container-width) * 0.9 / 2)) / 2)
    );
    width: 200%;
    left: -100%;
  }

  .sett {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: calc(var(--phone-container-width) * 0.9 / 2);
    margin: 0 auto;
  }
  .sett-btn {
    width: 90%;
    height: 45%;
    margin: 2.5% auto;
  }

  .sett-btn:nth-child(3) {
    position: absolute;
    top: 102%;
    left: -100%;
    height: calc((50vh * 0.9 - (var(--phone-container-width) * 0.9 / 2)) * 0.9);
    margin: 0 5%;
  }
  .sett-btn:nth-child(4) {
    position: absolute;
    top: 102%;
    left: 0;
    height: calc((50vh * 0.9 - (var(--phone-container-width) * 0.9 / 2)) * 0.9);
    margin: 0 5%;
  }
  :root {
    --profile-item-margin: 5px;
  }
}

@media (min-aspect-ratio: 3/5) and (max-aspect-ratio: 4/5) {
  .menu {
    display: flex;
    flex-direction: column;
    height: calc(97vw * 0.9 / 2);
  }

  .menu-item:nth-child(4) {
    height: calc(0.9 * (50vh * 0.9 - (var(--phone-container-width) * 0.9 / 2)));
    position: absolute;
    z-index: 1;
    top: calc(var(--phone-container-width) * 0.9 / 2);
    left: -90%;
  }
  .menu-item:nth-child(5) {
    position: absolute;
    z-index: 1;
    height: calc(0.9 * (50vh * 0.9 - (var(--phone-container-width) * 0.9 / 2)));
    top: calc(var(--phone-container-width) * 0.9 / 2);
    left: 10%;
  }
  .sett-btn {
    height: calc(var(--phone-container-width) * 0.9 / 4 * 0.95);
  }
  .sett-btn:nth-child(3) {
    height: calc(0.9 * (50vh * 0.9 - (var(--phone-container-width) * 0.9 / 2)));
    position: absolute;
    z-index: 1;
    top: calc(var(--phone-container-width) * 0.9 / 2);
    left: 52.5%;
    width: 45%;
  }
  .sett-btn:nth-child(4) {
    width: 45%;
    position: absolute;
    z-index: 1;
    height: calc(0.9 * (50vh * 0.9 - (var(--phone-container-width) * 0.9 / 2)));
    top: calc(var(--phone-container-width) * 0.9 / 2);
    left: 2.5%;
  }
  :root {
    --profile-item-margin: 10px;
  }
}

@media screen and (min-width: 480px) {
  :root {
    --fz1: 18px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --fz1: 18px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --fz1: 20px;
  }
}

@media screen and (min-width: 992px) {
  :root {
    --fz1: 25px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --fz1: 30px;
  }
}

@media (hover: hover) {
  .header-btn:hover {
    /* background-color: var(--secondary-color); */
    text-shadow: 0px 0px 1px var(--primary-color);
    color: var(--new-answer-bg);
    border-color: var(--secondary-color);
    box-shadow: 0px 0px 5px var(--primary-color);
  }

  .header-btn:hover .header-decor .decor-line {
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 5px var(--primary-color);
  }

  .wide-nav__link:hover .wide-nav__inner-linkwrapper {
    filter: drop-shadow(0 0 15px var(--header-nav-item-dropshadow-text));
  }

  .wide-nav__link:hover .wide-nav__link-text {
    transform: translateX(-50%) translateY(-1vmin);
    filter: drop-shadow(0 0 0px var(--hover-text-shadow-color));
    color: var(--hover-text-color);
  }

  .wide-nav__link:hover .wide-nav__link-text.wide-nav__link-text--center {
    transform: translateX(-50%) translateY(-0.5vmin);
  }

  .wide-nav__link:nth-child(1):hover {
    transform: translateY(-20%) translateX(-1vmin);
    z-index: 4;
  }

  .wide-nav__link:nth-child(2):hover {
    transform: translateY(-20%) translateX(-3vmin);
    z-index: 4;
  }

  .wide-nav__link:nth-child(3):hover {
    transform: translateY(-20%) translateX(-5vmin);
    z-index: 4;
  }

  .wide-nav__link:nth-child(4):hover {
    transform: translateY(-20%) translateX(-7vmin);
    z-index: 4;
  }

  .wide-nav__link:nth-child(5):hover {
    transform: translateY(-20%) translateX(-9vmin);
    z-index: 4;
  }

  .wide-nav__inner-linkwrapper a:hover {
    background-color: var(--hover-color);
  }

  .right-sms:hover {
    outline: 1px solid var(--third-color);
    box-shadow: 0px 0px 15px var(--third-color);
  }

  .left-sms:hover {
    box-shadow: 0px 0px 10px var(--primary-color);
  }

  .answer:hover {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px var(--third-color);
  }

  .display-bg-bubble:hover {
    transform: scale(107%);
    outline: 4px solid var(--secondary-color);
  }

  .display-bg-bubble:hover .display-bg-micro-bubble {
    opacity: 1;
  }

  .display-bg-bubble:hover .dbmb__1 {
    transform: translate(12vmin, 12vmin);
  }

  .display-bg-bubble:hover .dbmb__2 {
    transform: translate(0vmin, 12vmin);
  }

  .display-bg-bubble:hover .dbmb__3 {
    transform: translate(12vmin, 0vmin);
  }

  .display-bg-bubble:hover .dbmb__4 {
    transform: translate(12vmin, -12vmin);
  }

  .display-bg-bubble:hover .dbmb__5 {
    transform: translate(-12vmin, 12vmin);
  }

  .display-bg-bubble:hover .dbmb__6 {
    transform: translate(-12vmin, -12vmin);
  }

  .display-bg-bubble:hover .dbmb__7 {
    transform: translate(-12vmin, 0vmin);
  }

  .display-bg-bubble:hover .dbmb__8 {
    transform: translate(0vmin, -12vmin);
  }

  .btn-display:hover {
    background: var(--secondary-HO-color);
    border-color: var(--primary-color);
  }

  .btn-display:hover::before {
    position: absolute;
    z-index: -5;
    opacity: 1;

    filter: brightness(1);
  }

  .life-block__inner:hover {
    background-color: var(--third-HO-color);
    transform: translateY(-5px);
    box-shadow: 0px 5px var(--primary-color);
  }
  .progress-button:hover {
    background-color: var(--secondary-color);
    color: var(--third-color);
    border-color: var(--third-color);
  }
}

@keyframes before-swim {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(12.5%, 12.5%);
  }
  50% {
    transform: translate(25%, 0%);
  }
  75% {
    transform: translate(12.5%, -12.5%);
  }
  100% {
    transform: translate(0);
  }
}

body.dark {
  /* HALF OPACITY */
  --primary-color: #510065;
  --primary-HO-color: rgba(81, 0, 101, 0.9);
  --secondary-color: rgb(205, 116, 234);
  --secondary-HO-color: rgba(205, 116, 234, 0.9);
  --third-color: rgb(234, 224, 239);
  --third-HO-color: rgba(234, 224, 239, 0.9);
  --new-answer-bg: #a93ec7;
  --new-answer-HO-bg: rgba(169, 62, 199, 0.9);
  --hover-color: rgb(236, 124, 210);
  --hover-text-color: rgb(103, 15, 125);
  --hover-text-shadow-color: rgb(154, 52, 179);
  --bg-for-widgets: rgba(135, 68, 182, 0.402);
  --bg-circle-border-color: rgb(252, 177, 229);
  --header-link-drop-shadow-color: rgb(208, 164, 231);
  --main-bg-1: #9b6194;
  --main-bg-2: #1b1d97;
  --main-bg-2-0: #1b1d9700;

  --header-nav-item-dropshadow-text: rgb(255, 0, 212);
}

body.dark .cat-circle.dark {
  display: block;
}

body.dark .cat-circle.light {
  display: none;
}

/* СКРЫТЬ СКРОЛЛБАРЫ ДЛЯ БЛОКОВ  */
.dialogue-window::-webkit-scrollbar {
  display: none;
}
.dialogue-window {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes pop-up-one-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

.phone-bottom {
  height: 100px;
}
